@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100&subset=latin,latin-ext);

body {
  font-family: 'Roboto', sans-serif;
}

/* CONTENT */
#content {
  min-height:100%;
  margin: 0 auto;
}

/* HEADER */
#mainHeader {
  font-weight:300;
  text-align: center;
}

@media only screen and (min-width: 500px) {

  #mainHeader {
    font-size: 10vw;
  }
}

@media only screen and (min-width: 1250px) {
  #mainHeader {
    font-size: 125px;
  }
}

@media only screen and (max-width: 500px) {
  #mainHeader {
    padding: 10px;
    font-size: 50px;
  }
}


/* PROJECTS */

.projectDemo {
  height: 95%;
  width: 95%;
}

@media only screen and (min-width: 960px) {
  .projects {
    width: auto;
  }
  .projectDescription {
    position: relative;
  }
}


@media only screen and (max-width: 959px) {
  .projects {
    max-width: 440px;
    margin: 0 auto;
  }
  .projectHeader {
    text-align: center;
  }
  .projectDescription {
    position: absolute;
    width:100%;
  }
}

/* @media only screen and (max-width: 600px) {
  .projects {
    width: auto;
  }
  .projectHeader {
    text-align: center;
  }
} */

.projectHeader {
  margin:0 !important;
}

.projectDescription {
  bottom: 0;
}
