@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100&subset=latin,latin-ext);

body {
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
}

/* TODO: while track is playing, put art as background image that is blurred */
#backgroundImage {
  z-index:0;
  position:fixed;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ECEFF1;
  /*background-image: url('https://i1.sndcdn.com/artworks-000082482785-uyihnm-t500x500.jpg');*/
  background-size: 100%;
}

#content {
  min-height:100%;
  margin: 0 auto;
}

#tabs {
  margin-bottom: 109px;
}

.buttonFooter {
  border-top: 1px solid #E0E0E0;
  padding-top: 20px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.stick {
  background-color: white;
  width:100%;
  z-index:500;
  position: fixed;
  top: 0;
  border-right: 1px solid #E0E0E0 !important;
}

/* @media only screen and (min-width: 1000px) {
  .stick {
    width:998px;
  }
} */

@media only screen and (min-width: 500px) {
  #content {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
  }

  header {
    font-size: 10vw;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    font-size: 125px;
  }
}

@media only screen and (max-width: 500px) {
  header {
    padding: 10px;
    font-size: 50px;
  }
}

header {
  font-weight:300;
  text-align: center;
}

.subheader {
  text-align: center;
}

.descriptionText {
  text-indent: 1em;
}

md-card-title-text {
  padding-left: 20px;
}

.trackHead {
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.trackHead > a {
  text-decoration:none !important;
}

.trackArt {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 75%;
}

.trackText {
  word-break: break-all;
}

.tabContent {
  padding-left: 32px;
  padding-right: 32px;
}

#picture {
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 922px;
}

.projectHeader {
  margin:0 !important;
}

.projectDescription {
}

.projectDemo {
  height: 95%;
  width: 95%;
}
