@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100&subset=latin,latin-ext);

body {
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
}

/* TODO: while track is playing, put art as background image that is blurred */
#backgroundImage {
  z-index:0;
  position:fixed;
  margin: 0;
  height: 100vh;
  width: 100vw;
  /*background-image: url('https://i1.sndcdn.com/artworks-000082482785-uyihnm-t500x500.jpg');*/
  background-size: 100%;
}

#contentBody {
  max-width: 1000px;
  margin: 0 auto;
}

.stick {
  background-color: white;
  width:100%;
  z-index:500;
  position: fixed;
  top: 0;
  border-right: 1px solid #bdc3c7 !important;
}

@media only screen and (min-width: 1000px) {
  .stick {
    width:998px;
  }
}

@media only screen and (min-width: 500px) {
  #contentBody {
    border-left: 1px solid #bdc3c7;
    border-right: 1px solid #bdc3c7;
    border-bottom: 1px solid #bdc3c7;
  }

  header {
    font-size: 10vw;
  }
}

@media only screen and (max-width: 500px) {
  header {
    padding: 10px;
    font-size: 50px;
  }
}

header {
  font-weight: bold;
  text-align: center;
}

.descriptionText {
  text-indent: 1em;
}

md-card-title-text {
  padding-left: 20px;
}

.trackHead {
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.trackHead > a {
  text-decoration:none !important;
}

.trackArt {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 75%;
}

.trackText {
  word-break: break-all;
}

#musicTab {
  background-color: #FAFAFA;
}
