@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100&subset=latin,latin-ext);

body {
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
  background-color: #FAFAFA;
}

#contentBody {
  max-width: 1000px;
  margin: 0 auto;
}

.stick {
  background-color: white;
  width:100%;
  z-index:500;
  position: fixed;
  top: 0;
  border-right: 1px solid #bdc3c7 !important;
}
@media only screen and (min-width: 1000px) {
  .stick {
    width:998px;
  }
}
@media only screen and (min-width: 500px) {
  #contentBody {
    border-left: 1px solid #bdc3c7;
    border-right: 1px solid #bdc3c7;
    border-bottom: 1px solid #bdc3c7;
  }
  header {
    font-size: 10vw;
  }
}
@media only screen and (max-width: 500px) {
  header {
    padding: 10px;
    font-size: 50px;
  }
}
header {
  font-weight: bold;
  text-align: center;
}

md-card-title-text {
  padding-left: 20px;
}

#musicTab {
  background-color: #FAFAFA;
}
